.stepper{
  font-size: 16px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.root___jhJ:hover{
  background: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.horizontal___1wo {
  display: flex;
  justify-content: space-around;
}

.root___jhJ {
  display: flex;
  align-items: center;
  position: relative;
  /* cursor: pointer; */
  border-radius: 4px;
  padding: 16px;
  /* overflow: hidden; */
}


.horizontal___3z7.root___jhJ {
  flex-direction: column;
  flex: 1 0;
}



.horizontal___3z7 .tailAfter___2AJ {
  left: calc(50% + 20px / 2);
  width: calc(100% - 20px + 1px);
}

.horizontal___3z7 .tail___iPh {
  top: 25px;
  height: 2px;
}

.activeTailAfter___3bp .tailAfter___2AJ {
  background-color: var(--cl-primary, #2196f3);
}

.tailAfter___2AJ {
  top: calc(50% + 20px / 2);
  height: calc(100% - 20px + 1px);
}

.tail___iPh {
  position: absolute;
  background-color: var(--cl-primary-light, #bbdefb);
  transition: all 0.3s ease;
  width: 2px;
  left: 25px;
}


.visited___2DP .order___Kn1 {
  background-color: var(--cl-primary, #2196f3);
  border: 2px solid var(--cl-primary, #2196f3);
  color: var(--cl-whtie, #fff);
}

.order___Kn1 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease;
  border: 2px solid var(--cl-primary-light, #bbdefb);
  color: var(--cl-primary, #2196f3);
}

//------------- ACTIVE

//-------------- tail___iPh tailBefore___3Bb
.horizontal___3z7 .tailBefore___3Bb {
  left: 0;
  width: calc(50% - 20px / 2);
}

.visited___2DP .tailBefore___3Bb {
  background-color: var(--cl-primary, #2196f3);
}

.tail___iPh {
  position: absolute;
  background-color: var(--cl-primary-light, #bbdefb);
  transition: all 0.3s ease;
  width: 2px;
  left: 25px;
}
