$cl-primary: #2196f3;
$cl-white: white;
$cl-black8: rgba(black, 0.08);

.stepper{
  font-size: 16px;
  font-family: Roboto;
}
.horizontal-stepper {
  display: flex;
  justify-content: space-around;
}
.horizontal-child-step .description-step {
  margin-left: unset;
  min-height: unset;
  padding-top: unset;
  padding-bottom: unset;
  margin-top: 20px;
  text-align: center;
}
.activated-step .index-step {
  box-shadow: 0 0 6px rgba($cl-primary, .12);
}
.activated-step .description-step {
  font-weight: 500;
  font-size: 1.17em;
}

.box-container-step {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px;
}


.tail-after-step {
  top: calc(50% + 20px / 2);
  height: calc(100% - 20px + 1px);
}

.tail-before-step {
  top: 0;
  height: calc(50% - 20px / 2);
}

.tail-step {
  position: absolute;
  background-color: rgba($cl-primary, .38);
  width: 2px;
  left: 27px;
}

.index-step {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  line-height: 18px;
  border-radius: 100%;
  font: Roboto 12px medium;
  text-align: center;
  position: relative;
  border: 2px solid rgba($cl-primary, .38);
  color: $cl-primary;
}

.ripple-effect {
  overflow: hidden;
}

.description-step {
  margin-left: 24px;
  padding-top: 2px;
}
.horizontal-child-step.box-container-step {
  flex-direction: column;
  flex: 1 0;
}



.horizontal-child-step .tail-after-step {
  left: calc(50% + 20px / 2);
  width: calc(100% - 20px + 1px);
}

.horizontal-child-step .tail-step {
  top: 26px;
  height: 2px;
}

.active-tail-after-step .tail-after-step {
  background-color: $cl-primary;
}


.visited-step .index-step {
  background-color: $cl-primary;
  border: 2px solid $cl-primary;
  color: $cl-white;
}

.horizontal-child-step .tail-before-step {
  left: 0;
  width: calc(50% - 20px / 2);
}

.visited-step .tail-before-step {
  background-color: $cl-primary;
}

.activated-step .index-step::after {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: rgba(33, 150, 243, 0.12);
}

.box-container-step:hover{
  cursor: pointer;
  background:$cl-black8;
  border-radius: 4px;
}